@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root{

    /* cores */
    --main-bg-branco: #FFFFFF;
    --main-bg--azul-escuro: #081544;


    --main-roxo-enfeitado: #9A92FF;

    --font-color2-cinza: #82849A;
    --font-color3-branco1: rgba(255, 255, 255, 0.8);
    --font-color4-lilas: #EDDBFE;
    --font-color5-branco2: #FFFFFF;
    --font-color6-ciano: #475070;

    /* outros */

    --padding-section: 2em 19%;
}
*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

/*                               pre-definições                               */

p,a {font-family: 'Poppins', sans-serif;}

a{text-decoration: none;}
li{list-style-type: none;}


.titulo{
    position: relative;
    font-size: 50px;
    color: var(--main-roxo-enfeitado);
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    z-index: 2;

}

.subtitulo{
    position: relative;
    font-size: 19px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color2-cinza);
    z-index: 1;
    margin-top: -0.5em;
    font-weight: 400;
}

.texto{
    font-size: 19px;
    font-weight: 300;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color2-cinza);
}

.background-bolhas{
    z-index: 0;
    position: absolute;
}

.background-bolhas img{position: absolute;}

/* botão pre feito */
.botao{
    margin-top: 1.7em;
    display: flex;
    justify-content: space-between;
    padding: 0 2.4em;
    align-items: center;
    background-color: var(--main-roxo-enfeitado);
    box-sizing: border-box;
    width: 205.37px;
    height: 50px;
    border-radius: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.botao p{
    font-size: 18px;
    font-weight: 400;
}

.botao:hover{
    transform: scale(1.05);
}

body{
    height: 100%;
    position: relative;
}


/*                               header                               */

header h1 a img{
    width: 230px;
}

header h1 a{
    display: flex;
    align-items: center;
}

header {
    background-color: var(--main-bg-branco);
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* Três coisinhos */
    height: 70px;
    box-sizing: border-box;
    padding: 0 5em;
    align-items: center;
    color: var(--main-roxo-enfeitado);
    font-size: 17px;
    font-weight: 500;
    z-index: 2;
}

header a{color: var(--main-roxo-enfeitado)}

header h1 {justify-self: start;}
header nav {justify-self: center;}
header #dark-light-mode:last-child {justify-self: end;}

header nav .nav-principal {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

header nav .nav-principal li {
    position: relative;
    padding: 0.5em;
}

header nav .nav-principal li ol {
    z-index: 100;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-bg-branco);
    padding: 0;
    border-top: solid 2px var(--main-roxo-enfeitado);
    margin-top: 0.5em;
    width: 100%;
    box-shadow: 0 4px 8px #00000033;
    opacity: 0;
    transform: translateY(-8px);
    list-style: none;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

header nav .nav-principal li:hover ol {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header nav .nav-principal li ol li{padding: 0;}

header nav .nav-principal ol li a{
    padding: .5em;
    display: block;
    transition: background-color 0.25s ease;
}


header nav .nav-principal ol li:hover a{
    background-color: var(--main-roxo-enfeitado);
    color: var(--main-bg-branco);
}

/*  menu hamburguer */

body #sombra-menu-hamburguer{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 100vw;
    background-color: #101c4928;
    z-index: 10;
    transition: all 0.4s ease;
}

body #menu-hamburguer{
    display: none;
    position: fixed;
    background-color: var(--main-bg-branco);
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    z-index: 100;
    transform: translateX(-301px);
    transition: transform 0.5s ease;
}

body #menu-hamburguer h1{
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.6em;
    margin-bottom: 0.6em;
    border-bottom: solid 1px var(--main-roxo-enfeitado);
}

body #menu-hamburguer h1 a img{
    width: 192px;
    
}

body #menu-hamburguer nav{
    height: auto;
    display: block;
    padding: 0 2em;
}

body #menu-hamburguer nav .nav-principal{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 153px;
}

body #menu-hamburguer nav .nav-principal li{
    width: 160px;
    height: auto;
    padding-bottom: 1em;
}

body #menu-hamburguer nav .nav-principal li a, body #menu-hamburguer nav .nav-principal li div span p{
    display: flex;
    align-items: center;
    color: var(--main-roxo-enfeitado);
    font: 300;
    font-size: 19px;
}

body #menu-hamburguer nav .nav-principal li div{

    display: flex;
}

body #menu-hamburguer nav .nav-principal li div span{
    display: flex;
}

body #menu-hamburguer nav .nav-principal li a img, body #menu-hamburguer nav .nav-principal li div img:nth-child(1){
    max-width: 40px;
    padding-right: 20px;
}

body #menu-hamburguer nav .nav-principal li #lista-deslizavel{
    max-height: 70px;
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

body #menu-hamburguer nav .nav-principal li #lista-deslizavel li{
    transform: translateY(-10px);
}

body #menu-hamburguer nav .nav-principal li #lista-deslizavel li:nth-child(1){
    margin-top: 1em;
    margin-bottom: 0.1em;
}

body #menu-hamburguer nav .nav-principal li #lista-deslizavel li a{
    display: flex;
    align-items: center;
    color: var(--main-roxo-enfeitado);
    font: 200;
    font-size: 18px;
}

body #menu-hamburguer nav .nav-principal li:hover  {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

body #menu-hamburguer #botao-lateral{
    transform: rotateY(180grad);
    position: fixed;
    right: -26px;
    top: 350px;
    transition: transform 0.5s ease;
}

body #menu-hamburguer #bolhas{
    position: absolute;
    left: 0;
    top: 400px;
    transform: translateX(-102px);
    transition: transform 0.8s ease;

}


/*                               home                               */

/*                               main                               */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-bg--azul-escuro);
    min-height: 30em;
    font-weight: 300;
    width: 100%;
    overflow: hidden;
}

main #destaque-home{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-section);
    min-height: 600px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../imagens/backgrounds/destaque-home.svg');
}
main #destaque-home .background-bolhas{
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(87px);
}
main #destaque-home .background-bolhas img{
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(87px);
    
}

main #destaque-home div{
    z-index: 1;
}

main #destaque-home #destaque-desktop{
    z-index: 1;
}

main #destaque-home div h1{
    font-size: 90px;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    line-height: 88px;
    color: var(--main-roxo-enfeitado);
    padding-bottom: .15em;
}

main #destaque-home div h1 span{color: var(--main-bg--azul-escuro);}


main #destaque-home div .botao:hover{
    background-color: #8780e9;
}

main #destaque-home div .botao p{
    color: var(--font-color5-branco2);
}


/*                               home(sessão 2)                               */

main #tutoriais-home{
    padding: var(--padding-section);
    padding-top: 0;
    margin-bottom: 2em;
    position: relative;
}

main #tutoriais-home .background-bolhas{
    left: 0;
    top: -37%;
    position: absolute;
}


main #tutoriais-home .subtitulo{
    color: var(--font-color4-lilas);
}

main #tutoriais-home .lista-tutoriais{
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 2em;
}

main #tutoriais-home .lista-tutoriais li {
    width: 270px;
    min-height: 328.5px;
}

main #tutoriais-home .lista-tutoriais li a{
    width: 100%;
    height: 100%;
    padding: 2em;
    border-radius: 11.7px;
    box-sizing: border-box;
    background-color: var(--main-bg-branco);
    opacity: 0.86;
    transition: opacity 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Efeito hover para aumentar o card */
main #tutoriais-home .lista-tutoriais li a:hover {
    transform: scale(1.07);
    opacity: 1;
    background-color: #E6F3FC;
}

main #tutoriais-home .lista-tutoriais li a div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

main #tutoriais-home .lista-tutoriais li a div p {
    color: var(--font-color2-cinza);
    font-size: 17.3px;
    font-weight: 400;
    text-align: left;
    transition: transform 0.3s ease;
}

main #tutoriais-home .lista-tutoriais li a div:hover p {
    transform: scale(1.04); 
}


main #tutoriais-home .lista-tutoriais li a div figure{
    height: 63px;
    width: 63px;
    background-color: #E6F3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11.7px;
}
main #tutoriais-home .lista-tutoriais li a div h2{
    font-size: 24.3px;
    color: var(--font-color6-ciano);
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    margin: 0.2em 0;
}

main #tutoriais-home .lista-tutoriais li a .figure-seta{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}




main #tutoriais-home .botao{
    z-index: 1;
    margin-top: 1.7em;
    display: flex;
    justify-content: space-between;
    padding: 0 2.4em;
    align-items: center;
    background-color: var(--main-bg-branco);
    transition: transform 0.3s ease;
    box-sizing: border-box;
    width: 205.37px;
    height: 50px;
    border-radius: 25px;
}


main #tutoriais-home .botao:hover{
    transform: scale(1.05);
}

main #tutoriais-home .botao p{
    color: var(--main-roxo-enfeitado);
}






/*                               home(sessão 3)                               */

main #servicos-prestados{
    background-color: var(--main-bg-branco);
    padding: var(--padding-section);
    position: relative;
    z-index: 2;
}

main #servicos-prestados ol{
    display: flex;
    justify-content: space-between;
    padding: 2.2em 0;
    flex-wrap: wrap;
    gap: 1em;
}

main #servicos-prestados ol li{
    height: 266px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 1.3em;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-size: cover;
    padding: 1.8em;
    width: 23%;
    height: auto;
    border-radius: 50px;
}



main #servicos-prestados ol li div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: solid 1px #ffffff;
}

/*sem variavel pra mim não surtar fazendo o darkmode*/

main #servicos-prestados ol li h2{
    color: #FFFFFF;
    font-family: poppins, 'sans serif';
    font-weight: 600;
    font-size: 20.3px;
}

main #servicos-prestados ol li p{
    padding-top: 0.6em;
    color: rgba(255, 255, 255, 0.8);
}

main #servicos-prestados ol li:nth-child(1){background-image: url(../imagens/backgrounds/card-manutencao.png);}
main #servicos-prestados ol li:nth-child(2){background-image: url(../imagens/backgrounds/card-redes.png);}
main #servicos-prestados ol li:nth-child(3){background-image: url(../imagens/backgrounds/card-compras.png);}
main #servicos-prestados ol li:nth-child(4){background-image: url(../imagens/backgrounds/card-analise.png);
    background-position: left;
}

/*                               home(seção 4)*/

main #sec-numeros{
    padding: var(--padding-section);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main #sec-numeros .background-bolhas-superior{
    z-index: 0;
    position: absolute;
    right: 0;
    top: -20%;
}
main #sec-numeros .background-bolhas-inferior img{
    position: absolute;
    left: -4%;
    bottom: -15%;
    z-index: 0;
}

main #sec-numeros ol {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 3em 0;
    justify-content: space-between;
    z-index: 1;
}

main #sec-numeros ol li {
    width: calc(20% - 1em);
    display: flex;
    align-items: center;
    flex-direction: column;
}

main #sec-numeros p{
    color: var(--font-color4-lilas);
}


main #sec-numeros ol li figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    min-height: 137px;
    border-radius: 50%;
    background-color: #3960EC;
    margin-bottom: 0.6em;
}

main #sec-numeros ol li h2, main #sec-numeros ol li h2 span {
    font-size: 42px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color4-lilas);
    display: flex;
    flex-direction: row;
}

main #sec-numeros ol li p {
    width: 163px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: var(--font-color4-lilas);
}

/*                               home (5)                               */

main #conheca-campus{
    padding: var(--padding-section);
}

main #conheca-campus div .subtitulo{
    color: var(--font-color4-lilas);
}

main #conheca-campus .botao{
    background-color: var(--main-bg-branco);
}

main #conheca-campus .botao p{
    color: var(--main-roxo-enfeitado);
}


/*                               footer                               */

footer{
    position: relative;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 2em 5em;
    background-color: var(--main-bg-branco);
}

footer .background-footer{
    position: absolute;
    z-index: 1;
    left: 0;
    height: 260px;
}

footer .background-footer-responsivo{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 40%;

}

footer .div-superior{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 1.2em 0;
    animation-name: rodinha;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rodinha{
    0%{border-bottom: solid #ffffff .1em;}
    30%{border-bottom: solid #4567e3 .1em;}
    70%{border-bottom: solid #2d4188 .1em;}
    100%{border-bottom: solid #ffffff .1em;}
  }



footer .div-superior h1 a img{
    width: 230px;
}

footer .div-superior h1 a{
    display: flex;
    align-items: center;
}

footer .div-superior nav .nav-principal {
    list-style: none;
    display: flex;
    gap: 1.5em;
}

footer .div-superior nav .nav-principal li {
    position: relative;
    padding: 0.5em;
}

footer .div-superior nav .nav-principal li ol p{color: var(--main-roxo-enfeitado);}

/* lista reaproveitada do header pra poupar tempo */

footer .div-superior nav .nav-principal li ol {
    display: block;
    position: absolute;
    top: -220%;
    left: 0;
    background-color: var(--main-bg-branco);
    padding: 0;
    border-bottom: solid 2px var(--main-roxo-enfeitado); 
    margin-bottom: 0.5em;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(8px);
    list-style: none;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

footer .div-superior nav .nav-principal li:hover ol {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

footer .div-superior nav .nav-principal li ol li{padding: 0;}

footer .div-superior nav .nav-principal ol li a{
    padding: .5em;
    display: block;
    transition: background-color 0.25s ease;
}


footer .div-superior nav .nav-principal ol li:hover a{
    background-color: var(--main-roxo-enfeitado);
    color: var(--main-bg-branco);
}

footer .div-superior nav ol li img{
    transform: rotate(180deg);
}

footer .div-inferior{
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0;

}

footer .div-inferior figure{
    height: 50px;
}

footer .div-inferior figure .logo-ifrn{
    height: 46px;
    padding-bottom: .95em;
    padding-left: .5em;
}

footer .div-inferior p{
    color: var(--font-color4-lilas);
}

footer .div-superior nav ol li a, footer .div-superior nav ol li p, .nav-responsivo li p, .nav-responsivo li a{
    color: var(--main-roxo-enfeitado);
    font-size: 17px;
    font-weight: 500;
}


/*                               footer responsivo                               */
.nav-responsivo{
    display: none;

}

.nav-responsivo ol li ol li a{
    font-weight: 300;
}

.nav-responsivo ol li{
    padding-bottom: 0.5em;
}

.nav-responsivo ol li ol li{padding:0;}

footer .footer-responsivo{display: none;}

footer .footer-responsivo figure{
    padding: 1.5em 2em;
    justify-content: space-between;

}



/*                               Sobre nós                               */
/*                               sobre main                               */

#sobre main{
    background-color: var(--main-bg-branco);
}
/*                                  sobre (1)                               */
#sobre main #sobre-dti{
    position: relative;
}

#sobre main #sobre-dti .background-bolhas{
    left: 0;
    top: 40%;
}

#sobre main #sobre-dti .background-bolhas img{
    width: 200px;}

#sobre main #sobre-dti .background-bolhas2 img{position: absolute;}

#sobre main #sobre-dti .background-bolhas2 img{
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(87px);
}

#sobre main #sobre-dti #dti-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;
    padding: var(--padding-section);
    padding-right: 0;
    
}

#sobre main #sobre-dti #dti-superior .subtitulo{
    padding-bottom: 1em;
}

#sobre main #sobre-dti #dti-superior .texto{
    color: var(--font-color2-cinza);
    width: 95%;
}

#sobre main #sobre-dti #dti-superior figure{
    height: 50%;
    display: flex;
    align-items: center;
    background-color: var(--main-bg--azul-escuro);
    padding: 3em;
    border-radius: 300px 0 0 300px;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 19% 0 10%;
}

#sobre main #sobre-dti #dti-superior figure img{
    padding: 2.4em;
    height: 226px;
}

#sobre main #sobre-dti #dti-inferior{
    padding: var(--padding-section);
    padding-bottom: 3em;
}

#sobre main #sobre-dti #dti-inferior .servicos-gerais li p{
    color: var(--font-color2-cinza);
}

.servicos-gerais{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 2em;
}

.servicos-gerais li{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 162px;
    text-align: center;
}

.servicos-gerais li p{
    width: 140px;
    padding-top: 0.5em;
}


.servicos-gerais li .subtitulo{
    color: var(--font-color2-cinza);
    padding-top: 0.6em;
}

.servicos-gerais figure{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sobre main #sobre-dti #dti-inferior .servicos-gerais li:nth-child(1) figure{background-color: #8681FF;}
#sobre main #sobre-dti #dti-inferior .servicos-gerais li:nth-child(2) figure{background-color: #FF9281;}
#sobre main #sobre-dti #dti-inferior .servicos-gerais li:nth-child(3) figure{background-color: #61AD92;}
#sobre main #sobre-dti #dti-inferior .servicos-gerais li:nth-child(4) figure{background-color: #A3B4E8;}

/*                                  sobre (2)                               */

#sobre main #sobre-colabinf{
    padding: var(--padding-section);
    background-color: var(--main-bg--azul-escuro);
}

#sobre main #sobre-colabinf #colabinf-superior{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5em;
    padding-top: 4em;
}

#sobre main #sobre-colabinf #colabinf-superior div{
    width: 55%;
}

#sobre main #sobre-colabinf #colabinf-superior figure{
    display: flex;
    align-items: center;
    width: 45%;
    padding-right: 1em;
}

#sobre main #sobre-colabinf #colabinf-superior figure img{
    width: 100%;
}

#sobre main #sobre-colabinf #colabinf-inferior{
    padding-bottom: 4em;
}

#sobre main #sobre-colabinf #colabinf-superior .subtitulo, #sobre main #sobre-colabinf #colabinf-inferior .subtitulo{
    color: var(--font-color4-lilas);
    padding-bottom: 1em;
}

#sobre main #sobre-colabinf #colabinf-superior .texto{
    color: var(--font-color4-lilas);
}



#sobre main #sobre-colabinf #colabinf-inferior .servicos-gerais li p{
    color: var(--font-color4-lilas);
}

#sobre main #sobre-colabinf #colabinf-inferior .servicos-gerais li:nth-child(4) figure{background-color: #8681FF;}
#sobre main #sobre-colabinf #colabinf-inferior .servicos-gerais li:nth-child(3) figure{background-color: #FF9281;}
#sobre main #sobre-colabinf #colabinf-inferior .servicos-gerais li:nth-child(2) figure{background-color: #61AD92;}
#sobre main #sobre-colabinf #colabinf-inferior .servicos-gerais li:nth-child(1) figure{background-color: #A3B4E8;}


/* tutoriais */

#tutoriais main section #pesquisar{
    height: 40px;
    width: 240px;
    display: flex;
    border-radius: 50px;
    background-color: var(--font-color5-branco2);
    box-sizing: border-box;
    border: none;
}

#tutoriais main section #pesquisar input[type=image]{
    padding: 10px;
    background-color: var(--main-roxo-enfeitado);
    border-radius: 50%;
    height: 100%;
}

#tutoriais main section #pesquisar input[type=search]{
    margin-left: 10px;
    border-radius: 50px;
    
    
}

#tutoriais main section #pesquisar input[type=search]:focus{
    outline: none;
}

/*                               responsividade                               */

/* listas da home (tutoriais e serviços)*/
@media  screen and (max-width: 1850px){
    main #tutoriais-home .lista-tutoriais li{
        width: 23%;
        align-items: start;
        position: relative;
    }

    main #servicos-prestados .lista-tutoriais li{
        width: 23.5%;
    }

    main #servicos-prestados .lista-tutoriais li p{
        font-size: 18px;
    }
}

@media screen and (max-width: 1730px){
    main #servicos-prestados ol li{
        width: 49%;
    }
}

@media screen and (max-width: 1480px){
    main #destaque-home .background-bolhas img{
        right: -50px;
    }
    main #destaque-home #destaque-desktop{
        display: none;
    }

    main #destaque-home div .subtitulo{
        width: 70%;
    }

    main #tutoriais-home .lista-tutoriais li{
        width: 46%;
    }

    main #servicos-prestados ol{justify-content: center;}
    main #servicos-prestados ol li{
        width: 48%;
    }

    main #sec-numeros ol {
        justify-content: center;
    }

    main #sec-numeros ol li {
        width: calc(29% - 1em);
    }

    footer .background-footer{
        position: absolute;
        z-index: 1;
        left: -24%;
        height: 260px;
        box-sizing: border-box;
    }

    #sobre main #sobre-dti #dti-superior figure{
        height: 200px;
        padding: 0 10% 0 5%;
        box-sizing: border-box;
    }
    #sobre main #sobre-dti #dti-superior figure img{
        height: 100%;
    }

    /* sobre nós - (1 - dti) */

    #sobre main #sobre-dti .background-bolhas2 img{
        width: 20%;
        right: -90px;
    }
}

@media screen and (max-width: 1200px){
    footer{
        background-color: var(--main-bg-branco);
        height: 500px;
        box-sizing: border-box;
        padding: 0;
        display: flex;
        justify-content: flex-start;

    }

    footer .background-footer{
        display: none;
    }
    footer .footer-responsivo{display: block;}

    footer .footer-responsivo figure .logo-ifrn{
        padding-left: 1em;}

    footer .footer-responsivo .background {
        height: 406.92px;
        box-sizing: border-box;
        padding: 1em 2em;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../imagens/backgrounds/footer-responsivo.svg');


    }

    footer .div-inferior, footer .div-superior{
        display: none;
    }

    footer .footer-responsivo .div-inferior, footer .footer-responsivo .div-superior{
        display: flex;
    }
    footer .footer-responsivo .div-inferior .nav-responsivo{display: flex;}

    footer .footer-responsivo .div-inferior{
        display: flex;
        flex-direction: column;
        align-items: start;

        }
    }

@media screen and (max-width: 1060px){
    :root{
        --padding-section: 2em 10%;
    }

    main #tutoriais-home #background-bolhas{
        left: -4%;
        top: -40%;
    }

    main #sec-numeros .background-bolhas-superior{
        right: -8%;
    }

    main #sec-numeros ol li {
        width: calc(27% - 1em);
    }
    body #menu-hamburguer{
        display: block;
    }

    header{
        display: none;}

    footer .footer-responsivo figure{
        width: 40%;
        padding: 1em;
        display: flex;
        box-sizing: border-box;

    }

    footer .footer-responsivo figure img{
        width: 10em;
    }
    footer .footer-responsivo figure .logo-ifrn{
        padding-left: 1em;
        height: 37px;
    }

    /* pagina sobre nós - (1 - dti)*/

    #sobre main #sobre-dti .background-bolhas{
        left: -106px;
    }

    #sobre main #sobre-dti .background-bolhas2 img {
        width: 20%;
        right: -31px;
    }
    
    #sobre main #sobre-dti #dti-superior p {
        width: 100%;}
    

    #sobre main #sobre-dti #dti-superior figure img{
        height: 180px;
        padding: 2em;
    }
}

/* mini lista de tutoriais de home - isso aqui quebra muita facil:( */
@media screen and (max-width: 718px){

    main #destaque-home div h1{
        font-size: 80px;}

    main #destaque-home .background-bolhas img{
        width: 300px;
        right: -100px;
        top: -50px;
    }

    main #tutoriais-home .background-bolhas {
        left: -21%;
        top: -36%;
    }

    main #tutoriais-home .lista-tutoriais li{
        width:100%;
        opacity: 1;
        padding-top: 0;
        padding-bottom: 0;
        height: 268.5px;
    }

    main #tutoriais-home .lista-tutoriais li a div p{
        width: 86%;
    }
    
    main #servicos-prestados ol li{
        width:100%;
        padding: 3em 2.3em;
    }

    main #servicos-prestados ol li div{
        flex-direction: row-reverse;
        justify-content: left;

    }

    main #servicos-prestados ol li div h2{
        padding-left: 1em;
    }

    main #servicos-prestados ol li p{
        width: 90%;
    }

    main #sec-numeros{
        align-items: flex-start;
    }

    main #sec-numeros .background-bolhas-superior{
        right: -22%;
    }

    main #sec-numeros ol{
        padding: 0;
    }

    main #sec-numeros ol li {
        width: calc(33.33% - 1em);/* mini gambiarra*/
        transform: scale(0.78);

    }

    main #sec-numeros ol li:nth-child(4), main #sec-numeros ol li:nth-child(5) {
        width: calc(50% - 1em);
        margin-top: -3em; 
    }

    /* pagina sobre nós - (1 - dti) */

    #sobre main #sobre-dti .background-bolhas{
        left: -142px;
        top: 38%;
    }

    #sobre main #sobre-dti .background-bolhas2{
        width: 30%;
    }

    #sobre main #sobre-dti #dti-superior figure, #sobre main #sobre-colabinf #colabinf-superior figure{
        display: none;
    }

    #sobre main #sobre-dti #dti-inferior .servicos-gerais, #sobre main #sobre-colabinf #colabinf-inferior .servicos-gerais{
        flex-wrap: wrap;
        gap: 1em;
    }

    #sobre main #sobre-dti #dti-inferior .servicos-gerais li, #sobre main #sobre-colabinf #colabinf-inferior .servicos-gerais li{
        width: 45%;
        max-width: none;
    }

    #sobre main #sobre-dti #dti-inferior .servicos-gerais li p{
        max-width: 160px;
    }

    /* pagina sobre nós - (2 - colabinf) */

    #sobre main #sobre-colabinf #colabinf-superior div{
        width: 100%;
    }

}

@media screen and (max-width: 428px){
    :root{
        --padding-section: 2em 7%;
    }

    main #destaque-home div h1{
        font-size: 65px;}
    
    main #servicos-prestados ol li{
        height: 300px; 
    }

    main #sec-numeros .background-bolhas-superior{
        right: -40%;
    }

    main #sec-numeros ol li {
        width: calc(33.33% - 1em);/* mini gambiarra*/
        transform: scale(0.6);

    }

    footer .footer-responsivo .background {
        height: 420px;
        background-size: cover;
        padding: 1.5em 2em;
        background-image: url('../imagens/backgrounds/footer-mobile.svg');

    }
    footer .footer-responsivo figure{width: 100%;}

}