@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* font-family: 'Poppins', sans-serif; */
:root{
  --main-bg-color1: #FFFFFF;
  --main-font-color1: #081544;
}

*{
  padding:0;
  margin: 0;
}

html, body{
  width: 100vw;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

header{
  height: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2em 4em;
  animation-name: linha;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative;
  padding-bottom: 2px; 
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Altura da borda */
  background: linear-gradient(270deg, #081544, #EBFEFB, #081544);
  background-size: 300%;
  animation: linha 5s ease-in-out infinite;
}

header nav{
    width: 15%;
}

header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

header nav ul li{
  list-style: none;
  font-size: 18px;
  font-weight: bolder;
  color: var(--main-font-color1);
}



@keyframes linha {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  
main .destaqueHome{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 30em;
  color: var(--main-font-color1)

}

main .destaqueHome div{
  width: 927.79px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .destaqueHome div h2{
  font-size: 20px;
  width: 475.91px;
  color: var(--main-font-color1);
  font-weight: bolder;
  padding-bottom: .5em;
}

main .destaqueHome div p{
  font-size: 18px
}